# Python

## Tipos de variables

### Intergers

In [21]:
entero = 23

In [22]:
print(entero)

23

### Float

In [23]:
var = 12.

In [24]:
print(var)

12.0

### Strings

In [25]:
text = "hello world"
alpha_text = "8"

In [26]:
print(text)

hello world

In [27]:
print(alpha_text)

8

### Booleans

In [28]:
boolean = True

In [29]:
print(boolean)

True

## Datos estructurados

### Listas

In [33]:
mix = ["Calle de las Moquetas", 9, "ático", "28029", "Madrid"]

In [34]:
print(mix)

['Calle de las Moquetas', 9, 'ático', '28029', 'Madrid']

### Dictionary

In [40]:
# Diccionario con los datos de una película
dct = {"title": "Eternal Sunshine of the Spotless Mind", "year": 2004, "genre": ["Drama", "Sci-fi"]}

In [38]:
print(dct)

{'title': 'Eternal Sunshine of the Spotless Mind', 'year': 2004, 'genre': ['Drama', 'Sci-fi']}

## Declare variables

In [41]:
cat = "Garfield"
song, duration = "Vincent", 3.3

In [44]:
print(cat)
print(song)
print(duration)

Garfield
Vincent
3.3

In [46]:
email = input("Enter your email: ")

Enter your email:  rocio.arnaiz.illescas@gmail.com

In [48]:
print(email)

rocio.arnaiz.illescas@gmail.com

## Print

In [50]:
print("hello world")

hello world

In [53]:
# in line 
dog, age = "Eli", 3
print(dog, age)

Eli 3

In [56]:
# declare variable username
username = input("Enter your name: ")

# concat print
print("Hello my name is: " + username + ".")

Enter your name:  Ro

Hello my name is: Ro.

In [60]:
# String literals
print(f"hello my name is {dog} and I am {age} years old.")

hello my name is Eli and I am 3 years old.

## Type

In [62]:
boolean = True
real_boolean = "true"

In [68]:
print(type(boolean))
print(type(real_boolean))

<class 'bool'>
<class 'str'>

## Operators

### Numeric operators

In [79]:
# Math
suma = 1+3
división = 12/2
print(suma, división)

# Exponent
print(49**0.5)

#Reminder (resto)
print(12%5)

4 6.0
7.0
2

In [84]:
numeros = [4, 10, 8, 18, 18.3]

print(max(numeros))
print(min(numeros))
print(sum(numeros))

18.3
4
58.3

In [87]:
decimal = 7/3
print(decimal)
print(round(decimal, 2))

2.3333333333333335
2.33

### String operators

In [100]:
# Interger to string
num_1, num_2 = 3, 4.8
print(num_1)
print(type(num_1), type(num_2))

3
<class 'int'> <class 'float'>

In [101]:
# Convertir números en string
num_1 = str(num_1)
print(num_1)
print(type(num_1))

3
<class 'str'>

In [105]:
# String length
var = "Chookity pok"
len(var)

12

In [112]:
# Escape characters
message = "The symbol is: \""
print(message)

The symbol is: "

In [117]:
# Upper, lower and title cases
message = "Hello world"
print(message)

# Upper
message_upper = message.upper()
print(message_upper)

# Lower
message_lower = message.lower()
print(message_lower)

# Title
message_title = message.title()
print(message_title)

Hello world
HELLO WORLD
hello world
Hello World

In [123]:
# String to list
message = "this is a string"
message_letters = list(message)

# Por defecto split corta por los espacios
message_words = message.split()
message_splitted = message.split("s")
print(message)
print(message_letters)
print(message_words)
print(message_splitted)

this is a string
['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'a', ' ', 's', 't', 'r', 'i', 'n', 'g']
['this', 'is', 'a', 'string']
['thi', ' i', ' a ', 'tring']

In [128]:
# List to string
fruits = ["melocotón", "nectarina", "fresa"]
print(fruits)

# Dentro de las comillas introduzco el símbolo de separación de la lista
fruits_joined = " ".join(fruits)
print(fruits_joined)

['melocotón', 'nectarina', 'fresa']
melocotón nectarina fresa

In [138]:
# New line and tabulator
multi_line = "name: Ro\nage: 27"
print(multi_line)

# Multiline string
multi_line_string = """name: Ro
age: 27"""

print(multi_line_string)

name: Ro
age: 27
name: Ro
age: 27

In [146]:
# Check substring
var = "My DNI is: 53812079Z"

# Aquí abajo
letra = input("Introduce un caracter: ")

# Code
check = letra in var
print(check)

Introduce un caracter:  is

True

In [153]:
# Multistring
word = "hello"
word_5 = word*5

# Print
message = f"word: {word}\nword_5: {word_5}"
print(message)

word: hello
word_5: hellohellohellohellohello

In [158]:
# Replace string
message = "thiz iz a ztring"
print(message)

# Renombro la nueva variable con el código usado
message = message.replace("z", "s")
print(message)

thiz iz a ztring
this is a string

### List operators

In [186]:
# List of planets
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]

In [162]:
# Sacar elemento de una lista (de alguna forma empieza en 0)
planet = planets[2]
print(planet)

Earth

In [164]:
# Sacar penúltimo elemento
planet = planets[-2]
print(planet)

Uranus

In [187]:
# Añadir elementos a la lista
new_planets = planets.copy()
new_planets.append("pluto")
print(new_planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'pluto']

In [182]:
# Slicing a list (el último no lo cuenta)
planets[2:5]

['Earth', 'Mars', 'Jupiter']

In [189]:
# Order list
sorted(planets)

['Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus']

In [195]:
# Range to list
list(range(20))

#Añadir un step para que salte
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [197]:
# Count items
planets.count("Earth")

1

### Diccionarios

In [198]:
market_value = {
    "Apple": 2345.67,
    "Microsoft": 1765.89,
    "Amazon": 3012.45,
    "Google": 2789.34,
    "Facebook": 1890.56
}

In [200]:
# Add a key to dictionary
market_value["Tesla"] = 1899.32
print(market_value)

{'Apple': 2345.67, 'Microsoft': 1765.89, 'Amazon': 3012.45, 'Google': 2789.34, 'Facebook': 1890.56, 'Tesla': 1899.32}

In [202]:
# Add multiple keys to dictionary
market_value.update({"Netflix": 2156., "Adobe": 1654.32})
print(market_value)

{'Apple': 2345.67, 'Microsoft': 1765.89, 'Amazon': 3012.45, 'Google': 2789.34, 'Facebook': 1890.56, 'Tesla': 1899.32, 'Netflix': 2156.0, 'Adobe': 1654.32}

In [204]:
# Overwrite a value
market_value["Apple"] = 1500.
print(market_value)

{'Apple': 1500.0, 'Microsoft': 1765.89, 'Amazon': 3012.45, 'Google': 2789.34, 'Facebook': 1890.56, 'Tesla': 1899.32, 'Netflix': 2156.0, 'Adobe': 1654.32}

In [206]:
# Extract a value
market_value["Google"]

2789.34

In [208]:
# Using .keys() to get a view of keys
keys_view = market_value.keys()

# Using .values() to get a view of values
values_view = market_value.values()

# Using .items() to get a view of (key, value) pairs
items_view = market_value.items()

# Print the views
print("Keys view:", keys_view)
print("Values view:", values_view)
print("Items view:", items_view)

Keys view: dict_keys(['Apple', 'Microsoft', 'Amazon', 'Google', 'Facebook', 'Tesla', 'Netflix', 'Adobe'])
Values view: dict_values([1500.0, 1765.89, 3012.45, 2789.34, 1890.56, 1899.32, 2156.0, 1654.32])
Items view: dict_items([('Apple', 1500.0), ('Microsoft', 1765.89), ('Amazon', 3012.45), ('Google', 2789.34), ('Facebook', 1890.56), ('Tesla', 1899.32), ('Netflix', 2156.0), ('Adobe', 1654.32)])

### If, Else

In [212]:
number = -50

# Check the number and provide a corresponding message
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

The number is negative.

### Loops

In [221]:
# For loop
planets_upper = []
for planet in planets:
    planet_upper = planet.upper()
    planets_upper.append(planet_upper)

print(planets_upper)

['MERCURY', 'VENUS', 'EARTH', 'MARS', 'JUPITER', 'SATURN', 'URANUS', 'NEPTUNE']